# Ignore everything
/*

# Keep the wp-content folder
!/wp-content

# Ignore caches, logs and backups
/wp-content/wflogs
/wp-content/updraft
/wp-content/uploads/ithemes-security/backups
/wp-content/uploads/ithemes-security/logs
/wp-content/cache
/wp-content/et-cache
/wp-content/backups-dup-lite
**.log
**.zip
**.gzip
**.tar

# Keep specific files
!install-dfyblog.sh
!.gitignore
!dfyblog.sql
!loose-ends.txt